/* Спецификация */

body {
	font-family: 'PT Sans', sans-serif;
	
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.menu {
	margin-top:10px;
}

.menu__item {
	margin: 0 25px;
}

.menu__item a {
	font-size: 22px;
	font-weight: 700;
	color: #A63600;
}

/* Первый раздел Экран */
.header {
	background: #60D5AC;
	color: #A63600;
	padding-top: 58px;
	font-size: 50px;
}


.features {
	color: black;
	font-size: 50px;
	font-family: Arial;
	font-weight: bold;
	/*background: #FFE0B2;1*/
	background-image: url(../img/651074.jpg);
	padding: 50px;
}
